.site-section {
    background-color: rgb(248, 248, 248);
    // height: 100%;
    display: grid;
    padding: 10px;
    gap: 20px;

    h2 {
        text-align: center;
        font-size: 50px;
    }

    p {
        text-align: center;
    }

    .images-wrapper {
        display: grid;
        justify-content: center;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
        @media(max-width: 400px){
            grid-template-columns: 1fr;
        }
        img{
            width: 100%;
        }
    }
}
