.graphic-designer-hero{
    height: 400px;
    display: grid;
    place-items: center;
    background-size: cover;
    main{
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;

        p{
            max-width: 700px;
        }

        button {
            border-radius: 3em;
            padding: 15px 35px;
            align-self: center;
            background-color: white;
            color: rgb(117, 83, 40);
        }
    }
}