.site-section {
    // height: 100%;
    background-color: rgb(248, 248, 248);
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "txt .. .. img2"
        "txt2 img1 .. img2"
        ".. img1 .. .. ";

    .txt-section {
        
        // position: absolute;
        h2 {
            grid-area: txt;
            text-align: center;
            font-size: 50px;
        }

        p {
            grid-area: txt2;
            text-align: center;
            max-width: 80ch;
        }
    }

    img {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 350px;
        grid-area: img1;
    }
    img:last-child {
        grid-area: img2;
    }

    button {
        border-radius: 3em;
        padding: 15px 35px;
        align-self: center;
        background-color: white;
        color: rgb(117, 83, 40);
    }
}
