.graphic-designer-header {
    border-bottom: 1px solid black;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ddd;
    nav {
        gap: 50px;
        a {
            background-color: transparent;
        }
    }
}
