.graphic-designer-hero{
    height: 400px;
    display: grid;
    place-items: center;
    height: 100%;
    main{
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        h1 {
            font-size: 60px;
        }
        p{
            // max-width: 700px;
        }

        button {
            border-radius: 3em;
            padding: 15px 35px;
            align-self: center;
            background-color: white;
            color: rgb(117, 83, 40);
        }
    }
}