.home-view {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    @media (max-width: 480px) {
        font-size: 18px;
    }
    > * {
        padding-inline: 80px;
        @media (max-width: 480px) {
            padding-inline: 20px;
        }
    }
    .hero {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        color: white;
        min-height: 76vh;
        padding-block: 50px;
        // background: linear-gradient(
        //     148deg,
        //     #2f40ad 27.90508270263672%,
        //     #394fb7 39.71376419067383%,
        //     #2a3ba9 50.911521911621094%,
        //     #394fb7 63.58194351196289%,
        //     #354ab5 91.60547256469727%
        // );
        background: linear-gradient(184deg, #242272, #ff0063 141.12%);
        // background: linear-gradient(
        //     126deg,
        //     #2f40ad 27.90508270263672%,
        //     #394fb7 39.71376419067383%,
        //     #2a3ba9 50.911521911621094%,
        //     #394fb7 63.58194351196289%,
        //     #354ab5 91.60547256469727%
        // );

        h1 {
            // font-size: em(92px, 16px);
            font-size: 4em;
            // padding-bottom: 30px;
        }

        h3 {
            // font-size: em(20px, 16px);
            font-size: 20px;

            // padding-bottom: 30px;
        }

        p {
            // padding-bottom: 45px;
        }

        button {
            height: 60px;
            width: 212px;
            align-self: center;
            padding: 7px 24px;
            border-radius: 97px;
            background-color: #fff;
            color: black;
            font-size: 24px;
        }
        .main-pic {
            img:first-child {
                z-index: 2;
            }
            img:last-child {
                position: absolute;
                z-index: 3;
                right: 130px;
            }
        }
    }

    .one-platform {
        padding: 100px 80px;
        h1 {
            // font-size: em(64px, 16px);
            font-size: 64px;
            // width: 18ch;
            margin-bottom: 47px;
        }

        .info-container {
            display: flex;
            flex-wrap: wrap;
            gap: 70px;
            margin-bottom: 75px;
            justify-content: baseline;

            .info-preview {
                padding-top: 20px;
                border-top: 1px solid black;
                flex: 1;

                h4 {
                    font-size: em(20px, 16px);
                    font-size: 1em;
                    margin-bottom: 25px;
                }

                p {
                    // width: 30ch;
                }
            }
        }

        button {
            padding: 10px 30px;
            border-radius: 100px;
            background-color: black;
            color: #fff;
            // font-size: em(20px, 16px);
            font-size: 1em;
            font-weight: 700;
            transition: background-color 0.4s;

            &:hover {
                background-color: #116dff;
            }
        }
    }

    .website-template {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        min-height: 96vh;
        // padding-block: 90px;
        // padding-inline: 125px;
        text-align: center;

        h1 {
            // font-size: em(64px, 16px);
            font-size: 2.6em;
            // width: 25ch;
            margin-bottom: 30px;
        }

        h4 {
            // font-size: em(20px, 16px);
            font-size: 1em;
            margin-bottom: 30px;
        }

        button {
            padding: 10px 30px;
            border-radius: 100px;
            background-color: #fff;
            color: black;
            // font-size: em(20px, 16px);
            font-size: 1em;

            margin-bottom: 20px;
            font-weight: 700;
            transition: background-color 0.4s;

            &:hover {
                background-color: #d9d9d9;
            }
        }
    }
}
