.my-sites {
    $max-width-lg: 1590px;
    $max-width-md: 1184px;

    > *:not(.full) {
        margin: auto;
        max-width: $max-width-lg;

        @media (max-width: 1690px) {
            max-width: $max-width-md;
        }
    }

    .full > * {
        max-width: $max-width-lg;
        margin: auto;

        @media (max-width: 1690px) {
            max-width: $max-width-md;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 35px;

        .title {
            h1 {
                font-size: em(36px, 16px);
                margin-bottom: 5px;
                color: #162d3d;
            }

            p {
                color: #20455e;
            }
        }

        .action button {
            display: flex;
            align-items: center;
            padding-left: 10px;

            svg {
                width: 30px;
                fill: white;
            }
        }
    }

    .main-content {
        background-color: #f0f4f7;
        min-height: 100%;

        .site-filter {
            padding-block: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                border-radius: 15px;
                border: 1px solid #c5e6fe;
                padding: 5px 10px;
                width: 300px;

                &:focus {
                    outline: 2px solid #aadbfc;
                }
            }
            p {
                // justify-self: start;
            }
        }
    }
}
