.my-sites {
    > * {
        padding-inline: 108px;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding-block: 35px;

        .title h1 {
            font-size: em(36px, 16px);
            margin-bottom: 5px;
        }
    }

    .main-content {
        background-color: #f0f4f7;
        min-height: 100%;

        .site-filter {
            padding-block: 36px;
            input {
                border-radius: 15px;
                border: 1px solid #c5e6fe;
                padding: 5px 10px;
                width: 300px;

                &:focus {
                    outline: 2px solid #aadbfc;
                }
            }
        }
    }
}
