.my-sites {
    > * {
        padding-inline: 108px;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding-block: 35px;

        .title {
            h1 {
                font-size: em(36px, 16px);
            }
        }
    }

    .main-content {
        background-color: #f0f4f7;
        min-height: 100%;
        input {
            border-radius: 15px;
            border: 1px solid #c5e6fe;
            padding: 5px 10px;

            &:focus {
                outline: 2px solid #aadbfc;
            }
        }
    }
}
