.site-edit {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 44px 1fr;
    height: calc(100vh - 60px);
    transition: all 0.6s;
    background-color: #ddd;
    // &.cmps-open {
    //     grid-template-columns: 221px 1fr;

    //     &.templates-open {
    //         grid-template-columns: 475px 1fr;
    //     }
    // }

    @media (max-width: 1098px) {
        grid-template-rows: 44px 1fr;
    }

    .editor-header {
        grid-column: span 2;
        display: flex;
        border-bottom: 1px solid #eee;
        background-color: #fff;

        @media (max-width: 1098px) {
            // height: 44px;
            justify-content: center;
        }

        > *:not(:last-child) {
            border-right: 1px solid rgba(217, 225, 232, 0.6);
        }

        .options {
            align-items: center;
            display: flex;
            gap: 3px;
            padding: 5px;
            padding-inline: 15px;

            @media (max-width: 600px) {
                gap: 0;
            }

            button {
                border-radius: 5px;
                padding: 5px;
                display: grid;
                place-content: center;
                height: 100%;
                .action-btn {
                    height: 20px;
                    width: 26px;

                    &:hover {
                        color: #116dff !important;
                    }
                }
                &.selected {
                    background-color: #e8f1ff;
                }
            }
        }
        .url {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 880px) {
                display: none;
            }
            p {
                position: relative;
                font-size: em(14px, 16px);
                padding: 7px 18px;
                border-radius: 30px;
                width: 98%;
                // overflow-x: hidden;
                background-color: #f7f8f8;
                .tooltip {
                    display: none;
                    position: absolute;
                    top: 130%;
                    left: 50%;
                    box-shadow: 1px 1px 4px 1px #cdcdcd;
                    border-radius: 5px;
                    transform: translateX(-50%);
                    padding: 10px;
                    z-index: 10;
                    background-color: white;
                    width: max-content;
                }
                &:hover {
                    .tooltip {
                        display: block;
                    }
                }
            }
        }
        .actions {
            padding: 10px;
            display: flex;

            button {
                position: relative;
                display: flex;
                align-items: center;
                padding: 10px;
                .action-btn {
                    height: 28px;
                    width: 28px;
                    &:hover {
                        color: #116dff !important;
                    }
                }
                &.scaling {
                    &:hover {
                        color: #116dff;
                    }
                }
                .tooltip {
                    display: none;
                    position: absolute;
                    top: 160%;
                    left: 50%;
                    box-shadow: 1px 1px 4px 1px #cdcdcd;
                    border-radius: 5px;
                    transform: translateX(-50%);
                    padding: 10px;
                    z-index: 10;
                    background-color: white;
                    width: max-content;
                }
                &:hover {
                    .tooltip {
                        display: block;
                    }
                }
            }
        }
        .publish {
            display: flex;
            gap: 16px;
            align-items: center;
            padding-inline: 20px;

            button {
                border-radius: 5px;
                padding: 8px 25px;

                &:first-child {
                    color: #116dff;
                }

                &:last-child {
                    color: white;
                    background-color: #116dff;
                    border-radius: 15px;
                    &:hover {
                        background-color: #5999ff;
                    }
                }
            }
        }
    }
    .editor-sidebar {
        background-color: #fff;
        display: flex;
        box-shadow: 0px 8px 8px 0 #b2b2b2;

        > * {
            transition: width 0.3s;
        }

        .editor-nav {
            width: 60px;
            display: flex;
            flex-direction: column;
            border-right: 1px solid #eee;
            padding: 15px 9px;
            gap: 15px;

            button {
                position: relative;
                width: 42px;
                aspect-ratio: 1/1;
                border-radius: 50%;

                &:hover {
                    background-color: #ebf2ff;

                    img,
                    svg {
                        color: #116dff !important;
                    }

                    .plus-btn {
                        color: white !important;
                    }

                    .tooltip {
                        display: block;
                    }
                }

                svg,
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(50%, 50%);
                    height: 50%;
                    width: 50%;
                    color: #2d3034;
                }
                .plus-btn {
                    height: 40%;
                    width: 40%;
                    transform: translate(75%, 75%) !important;
                    color: white !important;
                }

                .tooltip {
                    display: none;
                    position: absolute;
                    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 15%),
                        0 6px 10px 0 rgb(0 0 0 / 10%),
                        0 1px 18px 0 rgb(0 0 0 / 8%);
                    top: 50%;
                    left: 150%;
                    border-radius: 4px;
                    transform: translateY(-50%);
                    padding: 10px 15px;
                    z-index: 10;
                    background-color: white;
                    width: max-content;
                    font-size: em(14px, 16px);
                }
            }
        }
        .add-section {
            display: grid;
            grid-template: auto 1fr / auto auto;

            > * {
                transition: all 0.3s;
                opacity: 0;
            }

            header {
                grid-column: 1/-1;
                height: 55px;
                display: flex;
                align-items: center;
                width: 0;
                border-bottom: 1px solid #dfe5eb;

                h1 {
                    font-size: 1em;
                }
            }

            .section-select {
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 0;
                overflow: hidden;
                background-color: #f7f8f8;

                &::-webkit-scrollbar {
                    display: none;
                }

                button {
                    border-radius: 20px;
                    padding-inline: 12px;
                    font-size: em(14px, 16px);
                    width: max-content;
                    height: 30px;
                    text-transform: capitalize;
                    &:hover {
                        background-color: #e7f0ff;
                        color: #0057e1;
                    }
                    &.active {
                        background-color: #d6e6fe;
                        color: #0057e1;
                    }
                }
            }
            .section-templates {
                width: 0;
                display: flex;
                flex-direction: column;
                gap: 34px;

                button {
                    border-radius: 3px;
                    border: 1px solid #dfe5eb;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 10px 15px -14px rgb(49 53 59 / 24%);
                    }
                }
            }
            &.open {
                > * {
                    opacity: 1;
                }
                .section-select {
                    padding: 12px;
                    height: 100%;
                    width: 150px;
                    overflow: auto;
                }
                .section-templates {
                    width: 350px;
                    padding: 24px;
                }

                header {
                    width: 100%;
                    padding: 0 24px;
                    border-top: 5px solid #6f56f9;
                }
            }
        }

        .cmp-editor {
            display: flex;
            flex-direction: column;
            width: 0;
            height: 0;
            overflow: hidden;
            gap: 20px;

            > * {
                padding: 0 24px;
            }

            header {
                height: 55px;
                display: flex;
                align-items: center;
                border-top: 6px solid rgb(72, 72, 255);
                border-bottom: 1px solid #dfe5eb;

                h1 {
                    font-size: 1em;
                }
            }

            &.open {
                height: 100%;
                width: 300px;
                overflow: auto;
            }
            .title {
                display: flex;
                justify-content: space-between;
                img {
                    width: 24px;
                }
            }
            .color-picker,
            .font-color-picker,
            .font-style-picker {
                display: flex;
                flex-direction: column;
                gap: 12px;
                .font-wrapper {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    row-gap: 10px;
                    // column-gap: 10px;
                    section {
                        display: grid;
                        place-content: center;
                        width: 44px;
                        height: 44px;
                        border-radius: 5px;
                        border: 2px solid #ccc;
                        &:hover {
                            background-color: #cbcbcb;
                        }
                    }
                }
                .color-wrapper {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    row-gap: 10px;

                    section {
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        border: 2px solid #ccc;

                        &.selected {
                            outline: 2px solid green;
                        }
                    }
                }
            }
            .upload-img {
                display: flex;
                align-items: center;
                flex-direction: column;
                border-radius: 6px;
                border: 1px solid gray;
                padding-block: 50px;
            }
        }
        .theme-selector {
            display: flex;
            flex-direction: column;
            width: 0;
            height: 0;
            overflow: hidden;
            gap: 20px;

            > * {
                padding: 0 24px;
            }

            header {
                height: 55px;
                display: flex;
                align-items: center;
                border-top: 6px solid rgb(28, 121, 98);
                border-bottom: 1px solid #dfe5eb;

                h1 {
                    font-size: 1em;
                }
            }

            &.open {
                height: 100%;
                width: 300px;
                overflow: auto;
            }
            section {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
                height: 30px;
                position: relative;
                overflow: hidden;
            }
        }
    }

    .site-display {
        position: relative;
        justify-self: center;
        align-self: center;
        overflow: auto;
        transition: all 0.4s;

        [contenteditable]:focus {
            outline: 1px solid #116dff;
        }

        > *:hover {
            background-color: #6e56f91c !important;
            box-shadow: inset 3px 3px 0 0 #6e56f961,
                inset -3px -3px 0 0 #6e56f961;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &.desktop {
            width: 100%;
            height: 100%;
        }
        &.phone {
            width: 320px;
            height: 95%;
            box-shadow: 0 0 8px 4px rgb(196, 196, 196);

            .site-header nav {
                display: none;
            }

            .menu-btn {
                display: block;
            }
        }

        .drag-area {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 3em;
            transform: translate(-50%, -50%);
            border: 3px dashed rgb(188, 188, 188);
            display: grid;
            place-content: center;
            h1 {
                font-size: 40px;
                color: rgb(175, 175, 175);
                text-align: center;
            }
        }
    }
}
