.site-edit {
    .editor-header {
        padding-inline: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        height: 56px;
        background-color: #fff;
        padding-inline: 4px;

        .options {
            display: flex;
            gap: 24px;

            img {
                height: 28px;
                padding-inline: 14px;
            }
        }
        .gap {
            display: flex;
            gap: 16px;
        }
    }
    .editor-sidebar {
        .editor-nav {
            width: 71px;
            display: flex;
            flex-direction: column;
            position: absolute;
           
            img {
                adding-block: 30px;
                padding-inline: 14px;
                margin: 4px;
                height: 30px;
            }
        }
    }

    .main-site-display {
        background-color: antiquewhite;
        position: absolute;
        height: calc(100vh - 135px);
        right: 0;
        left: 71px;
        margin: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
