.site-app {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    .site-nav {
        background-color: #131720;
        ul {
            list-style-type: none;
            display: flex;
            padding-block: 10px;
            padding-left: 10px;
            li {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-inline: 10px;
                color: #cfd0d2;
                font-family: Helvetica, sans-serif;

                .arrow-right {
                    width: 30px !important;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }
    .site-view {
        padding: 20px;
        flex: 1;
        display: grid;
    }
}
