.stay-edit {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    font-family: CerealReg;
    margin-bottom: 10px;

    input {
        border: 0;
        outline: 0;
        font-family: inherit;
        border-bottom: 1px solid rgb(215, 215, 215);
    }

    .dot {
        font-size: 24px;
    }

    label {
        margin-block: 10px;
    }

    nav {
        margin-right: 10px;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: flex;
                align-items: center;
                font-family: CerealBd;
                padding: 10px;
                gap: 10px;

                &:hover {
                    box-shadow: 0 0 2px 1px #dddddd;
                    border-radius: 10px;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .edit-section {

        padding: 10px;
        background-color: #f3f3f3;
        border-radius: 10px;

        .stay-data {
            display: flex;
            gap: 10px;

            div {
                background-color: white;
                border-radius: 10px;
                padding: 10px;
                display: grid;
                align-items: center;
                flex-basis: calc(900px / 3);

                &:not(:last-child) {
                    flex: 1;
                }

                &:last-child {
                    flex: 3;
                }
            }
        }
        .stay-info {
            background-color: white;
            border-radius: 10px;
            padding: 20px;

            .stay-name {
                h2 {
                    input {
                        font-size: em(18px, 16px);
                        width: 100%;
                    }
                }
                div {
                    display: flex;
                    font-size: 1.3em;
                    gap: 50px;
                }
            }

            .imgs-container {
                display: grid;
                grid-template: 1fr 1fr / 2fr 1fr 1fr;
                border-radius: 20px;
                gap: 8px;
                margin-bottom: 15px;
                height: 350px;
                margin-top: 15px;

                :first-child {
                    grid-column: 1;
                    grid-row: 1/-1;
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                }
                :nth-child(3) {
                    border-top-right-radius: 15px;
                }
                :nth-child(5) {
                    border-bottom-right-radius: 15px;
                }
                .img-upload {
                    background-color: rgb(230, 230, 230);
                    font-family: CerealMd;

                    label {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-content: center;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .below-imgs {
                select {
                    padding: 5px 10px;
                    font-size: em(14px, 16px);

                    option {
                        padding-block: 5px;
                        border-radius: 0;
                        font-size: 1em;
                    }
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    resize: none;
                    font-family: inherit;
                    padding: 15px;
                    border-radius: 5px;

                    &:focus {
                        outline: 1px solid rgb(77, 77, 77);
                    }
                }

                > *:not(:last-child) {
                    padding-block: 20px;
                    border-bottom: 1px solid rgb(215, 215, 215);
                }
                .amenities-container {
                    h2 {
                        margin-bottom: 24px;
                    }
                    .stay-amenities {
                        display: grid;
                        grid-template-columns: auto auto auto;

                        p {
                            margin: 0;
                        }
                        div {
                            padding-bottom: 16px;

                            input[type=checkbox]{
                                accent-color: #222222;
                            }
                        }
                    }
                }
            }
        }
        .confirm-area {
            padding-top: 20px;
            display: flex;
            justify-content: end;

            .btn-reserve {
                background-color: #cce8f5;
                border-radius: 5px;
                border: 1px solid #dddddd;
                padding: 5px 40px;
                width: max-content;
                font-family: CerealReg;
                font-weight: bold;
                font-size: em(15px, 16px);
            }
        }
    }
}
