.user-dashboard {
    font-family: CerealReg;
    margin-block: 10px;
    color: #222222;

    .dashboard-container {
        grid-template-rows: 50px 1fr;
        gap: 20px;
        display: grid;
        background-color: #f3f3f3;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

        .dashboard-nav {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            font-size: em(17px, 16px);

            .btn-nav {
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                border: 1px solid rgb(202, 202, 202);
                display: flex;
                align-items: center;
                text-decoration: none;
                text-transform: capitalize;
                font-family: CerealMd;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    color: #ff385c;
                    border: 1px solid #ff385c;
                }

                &.router-link-exact-active {
                    color: #ff385c;
                    border: 1px solid #ff385c;
                }
            }
        }
    }
}
