.graphic-designer-header {
    border-bottom: 1px solid black;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;

    nav {
        gap: 50px;

        a {
            background-color: transparent;
        }
    }
}
