.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #fff;
    // border-bottom: 1px solid #a9a6a65c;
    font-family: CerealReg;
    padding-inline: 20px;

    &:has(+ .my-sites) {
        box-shadow: 0 1px 5px 0 rgb(41 85 115 / 21%);
    }
    &:has(+ .template-selector) {
        box-shadow: 0 8px 14px 0 rgb(0 0 0 / 4%);
    }

    img {
        cursor: pointer;
    }

    .logo {
        display: flex;
        align-items: center;
        // font-family: sans-serif;
        // font-family: "Fredoka One";
        img:first-child {
            height: 35px;
        }
        img:last-child {
            padding-left: 7px;
            height: 180px;
        }
        p {
            padding-left: 7px;
            font-family: unset;
            font-weight: 800;
            font-size: 39px;
            color: #13bcb4;
        }
        // p {
        //     // font-family: 'Kavoon', sans-serif;
        //     font-family: "Fredoka One";
        //     font-weight: 600;
        //     font-size: 70px;
        //     color: #166aea;

        //     span {
        //         font-size: 45px;
        //         font-weight: 600;
        //         color: #000;
        //     }
        // }
    }

    .header-btns {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 40px;
        min-width: 128px;
        border: none;
        display: flex;
        gap: 10px;

        button:first-child {
            background-color: rgba(255, 255, 255, 0);
            color: #000;
            font-size: 16px;
            // margin-left: 18px;
            text-decoration: underline;
            border: none;
            // margin-right: 15px;
        }

        button:last-child {
            background-color: #166aea;
            color: #fff;
            // margin-left: 18px;
            height: 40px;
            min-width: 147px;
            border: none;
            border-radius: 100px;
            font-size: 16px;
        }
    }
}
