.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    // z-index: 10;
    // top: 0;
    background-color: #fff;
    border-bottom: 1px solid #a9a6a65c;
    font-family: CerealReg;
    padding-inline: 20px;

    img{
        cursor: pointer;
    }

    .header-btns {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 40px;
        min-width: 128px;
        border: none;

        button:first-child{
            background-color: rgba(255, 255, 255, 0);
            color: #000;
            font-size: 16px;
            margin-left: 18px;
            text-decoration: underline;
            border: none;
        }
        button:last-child {
            background-color: #166aea;
            color: #fff;
            margin-left: 18px;
            line-height: 40px;
            min-width: 147px;
            border: none;
            border-radius: 100px;
            font-size: 16px;
        }
    }
}
