.main-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height: 100%;
    height: 81vh;

    .main-txt {
        color: #20303c;
        h2 {
            display: flex;
            justify-content: center;
            font-size: 56px;
        }
        h1 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 34px;
        }
        span {
            color: #116dff;
            cursor: pointer;
        }
    }
    .signin-section {
        display: flex;
        flex-direction: row;
        .signin-with-email {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input {
                width: 320px;
                font-size: 20px;
                height: 36px;
                font-weight: 400;
                border-width: 0px 0 1px;
                outline: none;
            }
            button {
                background-color: #fff !important;
                box-shadow: inset 0 0 0 1px #116dff !important;
                padding-bottom: 10px;
                height: 43px;
                padding-top: 8px;
                border-radius: 999px;
                margin-top: 25px;
                width: 100%;
            }
        }
        .divider-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 69px;
            div {
                background-color: #b9b9bd;
                height: 100%;
                width: 1px;
                opacity: 0.8;
            }
            label {
                font-size: 14px;
                color: #b9b9bd;
            }
        }
        .social-signin {
            display: flex;
            flex-direction: column;
            button {
                height: 48px;
                width: 328px;
                margin-bottom: 10px;
                color: #fff;
                gap: 30px;
                cursor: pointer;
                background-color: #3b5998;
                display: flex;
                align-items: center;
                .buttonIcon {
                    background-color: #fff;
                    border: 1px solid #4285f1;
                    border-radius: 1px;
                    float: left;
                    padding: 11px;
                    &.last{
                        border: 1px  solid #050505;
                        border-left: 0px;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            button:first-child {
                background-color: #4285f4;
            }
            button:last-child {
                background-color: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }
}
