.review-preview {
    margin-right: 130px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    p {
        margin: 0;
        overflow: hidden;
        line-height: 24px;

        &.long-text {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .mini-user-details {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;

        p {
            font-size: 1em;
            padding-inline-start: 12px;
            font-weight: 600;
            margin-bottom: 0.3em;
            line-height: normal;
        }

        span {
            font-size: em(14px, 16px);
            padding-inline-start: 12px;
            color: #717171;
        }

        img {
            width: 40px;
            height: 40px;
            grid-row: 1/-1;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    button {
        margin-top: 10px;
        background-color: transparent;
        text-decoration: underline;
        font-weight: bold;
        font-size: inherit;
        padding: 0;
        border: 0;
        width: max-content;
        justify-self: end;
    }
}
