.search-modal {
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 79px;
    transition: 0.4s;
    z-index: 22;
    display: flex;
    padding: 0;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 400px) {
        // display: none;
    }

    &.open {
        height: 90px;
        overflow: visible;
        padding: 10px;
    }

    .search-input {
        border-radius: 5em;
        background-color: white;
        border: 1px solid #dddddd;
        display: grid;
        align-items: center;
        grid-template-columns: 1.4fr 1px 14em 1px 0.9fr;

        span {
            align-self: center;
            height: 50%;
            width: 1px;
            background-color: #dddddd;
        }

        .destination {
            position: relative;
            flex-grow: 1;
            height: 100%;
        }

        &.btn-selected {
            background-color: #ebebeb;

            input[type='text'] {
                background-color: #ebebeb;
            }
        }

        .search-btn {
            display: grid;
            grid-template-columns: 5em 1fr;
            grid-template-rows: 1fr 1fr;
            position: relative;
            height: 100%;
            padding-top: 0 !important;

            .sub-search {
                font-family: 'CerealMd';
                position: relative;
                z-index: 3;
                margin-top: 5px;
                grid-row: 1/-1;
                grid-column: 2;
                padding-block: 15px;
                padding-inline: 18px;
                border-radius: 5em;
                background: radial-gradient(
                    circle at left,
                    #ff385c 0%,
                    #e61e4d 27.5%,
                    #e31c5f 40%,
                    #d70466 57.5%,
                    #bd1e59 75%,
                    #bd1e59 100%
                );
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 16px;
                right: -4px;
                height: 48px;
                width: 112px;

                img {
                    fill: none;
                    height: 16px;
                    width: 16px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                }
            }

            input[type='text'] {
                grid-row: 2;
            }
        }

        .date {
            display: flex;
            height: 100%;

            .el-date-editor {
                position: absolute !important;
                opacity: 0 !important;
                cursor: pointer !important;
                height: 100% !important;
                border-radius: 5em !important;
                width: 230px !important;
                padding: 0 !important;
                padding-bottom: 10px !important;

                .el-range-input {
                    width: 50%;
                    height: 100%;
                }
                .el-range-separator {
                    display: none !important;
                }
                .el-icon {
                    display: none;
                }
            }
        }

        .search-zone {
            align-items: center;
            border-radius: 5em;
            padding: 5px 15px;
            display: grid;
            cursor: grab;
            z-index: 40;

            &.align-more {
                padding-left: 2em;
            }

            &.align {
                padding-left: 1.5em;
            }

            &:hover {
                background-color: #dddddd;
                input[type='text'] {
                    background-color: #dddddd;
                }
            }

            &.selected {
                background-color: white;
                box-shadow: 0 0 3px 0px #4e4e4e;
                box-shadow: 0px 23px 28px 0px #b4b3b3;

                input[type='text'] {
                    background-color: white !important;
                }
            }

            label {
                display: flex;
                align-self: end;
                cursor: grab;
                font-family: CerealBd;
                font-size: 0.8em;
            }

            input[type='text'] {
                border: 0;
                outline: 0;
                align-self: start;
                /* font-size: 14px; */
                padding-top: 5px;
            }

            .dest-input {
                &.set {
                    font-weight: bold;
                }
            }

            .date-input,
            .guest-input {
                width: 100%;

                &.set {
                    font-weight: bold;
                }
            }
        }
    }
}
.dark-site {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: none;
    z-index: 9;

    &.open {
        display: block;
    }
    &.search {
        top: 80px;
    }
    .modals {
        z-index: 24;
    }
}

.dark-for-modals {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    &.open {
        display: block;
    }
}

