.share-modal {
    z-index: 2000 !important;
    position: absolute !important;
    inset: 0px !important;
    display: block !important;
    background: rgb(255, 255, 255) !important;
    height: 624px;
    padding: 24px !important;
    border-radius: 12px;
    animation: 0.4s ease-out 0s 1 slideInFromButtom;
    width: 520px;
    margin: auto;

    span {
        img {
            height: 15px;
        }
    }

    .close-button {
        button {
            background: none;
            border: none;
            display: block;
            height: 16px;
            cursor: pointer;
        }
    }

    h1 {
        line-height: 30px !important;
        margin-bottom: 24px !important;
        font-weight: 600 !important;
        color: #222 !important;
        display: block !important;
    }

    .share-modal span {
        display: flex !important;
        align-items: center;
    }

    .web-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: none !important;
        width: calc(100% - 30px) !important;
        gap: 20px;

        section {
            display: flex;
            align-items: center;
            outline: none !important;
            cursor: pointer !important;
            border: 1px solid rgb(221, 221, 221) !important;
            border-radius: 12px !important;
            font-size: 16px !important;
            line-height: 20px !important;
            font-weight: 500 !important;
            overflow: hidden !important;
            color: #222 !important;
            text-overflow: ellipsis !important;
            background-color: #fefefe;
        }

        img {
            margin: 0 22px;
            width: 40px;
        }

        a {
            display: flex;
            align-items: center;
            outline: none !important;
            cursor: pointer !important;
            border: 1px solid rgb(221, 221, 221) !important;
            border-radius: 12px !important;
            font-size: 16px !important;
            line-height: 20px !important;
            font-weight: 500 !important;
            overflow: hidden !important;
            color: #222 !important;
            text-overflow: ellipsis !important;
            background-color: #fefefe;
        }
    }
}

