.stay-preview {
    position: relative;
    font-family: CerealReg;
    width: 100%;
    cursor: pointer;
    
    img {
        width: 100%;
        aspect-ratio: 1.055081967213115/1;
        border-radius: 10px;
        object-fit: cover;
    }

    .preview-info {
        position: relative;
        padding-top: 10px;

        main {
            padding-top: 3px;
            padding-bottom: 10px;
            overflow: hidden;
            width: 200px;
        }
        p {
            margin: 0;
            font-size: em(16px, 16px);
        }

        .rate {
            right: 0;
            top: 2px;
            display: flex;
            align-items: center;
            font-family: CerealReg;
        }
        .review-length{
            color: #7c7c7c;
        }

        .price {
            &-label {
                font-weight: bold;
                background-color: transparent;
            }
        }
        .location {
            padding-top: 2px;
            font-family: CerealMd;
            display: flex;
            justify-content: space-between;
        }
        .stay-name,
        .date {
            color: #7c7c7c;
        }
        .stay-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .heart-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;

        &.mark {
            fill: red !important;
        }
    }

    &:hover {
        .carousel__prev,
        .carousel__next {
            opacity: 1;
        }
    }
}

