.main-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 40px;
    padding: 7px 10px;
    opacity: 1;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    transition: transform 0.4s, opacity 0.3s ease;
    cursor: pointer;

    &.close {
        transform: scaleX(1.56) translateY(80px);
        opacity: 0;
        z-index: 10;
    }

    > * {
        cursor: pointer;
    }

    .main-search {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;

        > * {
            cursor: pointer;
        }

        span {
            flex: 0 0 1px;
            height: 24px;
            width: 1px;
            background-color: #dddddd;
            @media (max-width: 400px) {
                display: none;
            }
        }
        .search-in-mobile {
            display: none;

            .img {
                height: 20px;
                display: block;
                color: #4e4e4e !important;
                width: 20px;
                stroke: currentColor;
                stroke-width: 3px;
            }

            div {
                display: grid;

                label {
                    font-weight: bold;
                    font-family: CerealReg;
                    font-size: 14px;
                    align-self: flex-end;
                }

                p {
                    margin: 0;
                    font-size: 12px;
                    align-self: flex-start;
                    color: #717171;
                }
            }

            @media (max-width: 400px) {
                display: grid;
                align-items: center;
                padding-block: 10px;
                grid-template-columns: 36px 1fr;
                gap: 8px;
            }
        }

        .search-btn {
            background-color: transparent;

            :last-child {
                padding: 20px;
            }

            @media (max-width: 400px) {
                display: none;
            }
        }

        button {
            padding-inline: 16px;
            color: #222222;
            font-size: em(15px, 16px);
            font-weight: 600;
            font-family: inherit;

            &.last {
                font-family: CerealReg;
                font-weight: 400;
                color: #717171;
            }

            &:last-child {
                font-family: CerealReg;
                color: #717171;
            }
        }
    }

    .start-search {
        padding-inline: 15px;
        margin-right: 80px;
        font-size: em(14px, 16px);
    }

    .little-search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff385c;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        @media (max-width: 400px) {
            background-color: white;
            border: 1px solid #dddddd;
        }

        .svg-for-desktop {
            @media (max-width: 400px) {
                display: none;
            }
        }
        .svg-for-mobile {
            display: none;
            @media (max-width: 400px) {
                display: block;
            }
        }
        img {
            fill: none;
            height: 12px;
            width: 12px;
            stroke: currentcolor;
            stroke-width: 5.33333;
            overflow: visible;
        }
    }
}
