.template-selector {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);

    @media (max-width: 400px) {
        article {
            height: 200px;
        }
    }

    @media (min-width: 400px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1000px) {
        grid-template-columns: repeat(5, 1fr);
    }

    article {
        max-height: 300px;
        background-color: rgb(215, 215, 215);
        border: 1px solid #ddd;
        border-radius: 4px;
        display: grid;
        place-items: center;
        transition: 0.4s;

        &:hover {
            scale: 1.02;
        }
    }
}
