.trips-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    gap: 10px;

    ::-webkit-scrollbar {
        width: 10px;
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: #dddddd;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-clip: padding-box;
    }

    @media (min-width: 400px) {
        grid-template-columns: repeat(2, 1fr);
    }

    > * {
        padding: 10px;
        border-radius: 8px;
        flex: 1;
    }

    .trip-list {
        background-color: white;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .trip-preview {
            border-radius: 8px;
            padding: 10px;
            padding-left: 10px;
            position: relative;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 1px 1px #767676;
            }

            &.isSelected {
                box-shadow: 0 0 1px 1px #222222;
            }

            h4 {
                margin: 0;
                font-size: 1.1em;
            }

            p {
                margin: 5px 0 0 0;
                .address {
                    font-weight: 600;
                    color: lighten($color: #222222, $amount: 10);
                }

                span {
                    margin-right: 10px;
                }
            }

            .trip-status {
                align-self: center;
                font-weight: 600;
                &.approve {
                    color: rgb(90, 184, 82);
                }

                &.decline {
                    font-weight: 600;
                    color: rgb(228, 56, 56);
                }

                &.pending {
                    color: rgb(235, 211, 1);
                }
            }
        }
    }

    .trip-display-container {
        background-color: #fff;

        .trip-display {
            font-size: em(14px,16px);
            // margin-left: 20.4%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: white;
            grid-template-rows: repeat(2, 1fr);
            height: max-content;
            position: sticky;
            top: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

            .trip-img {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 4px;

                :first-child {
                    grid-row: 1/-1;
                    border-start-start-radius: 8px;
                    border-end-start-radius: 8px;
                }

                :nth-child(2) {
                    border-start-end-radius: 8px;
                }
                :nth-child(3) {
                    border-end-end-radius: 8px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 166/124;
                    object-fit: cover;
                }
            }

            .trip-info {
                display: grid;
                gap: 10px;
                align-items: center;

                h3,
                h2 {
                    margin: 0;
                }

                p {
                    margin: 0;

                    .info-parameter {
                        font-weight: bold;
                        color: black;
                    }

                    &.last {
                        justify-self: center;
                        padding: 5px 5px 5px 5px;
                        border: 1px solid #aba9a9;
                        border-radius: 10px;
                    }
                }

                .approve {
                    font-weight: 600;
                    color: rgb(78, 185, 68);
                }

                .decline {
                    font-weight: 600;
                    color: rgb(228, 56, 56);
                }
            }
        }
    }
}

.trips-else {
    display: grid;
    place-content: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 20px 13px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    padding: 10px;
    justify-content: center;
    .trips-wrapper {
        text-align: center;
    }
    button {
        @include reserve-btn();
        width: 300px;
    }
}

.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.Clock-Rotate-Left::before {
    font: var(--fa-font-solid);
    content: ' \f1da';
}
