.site-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-bottom: 40px;

    @media (max-width: 1690px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
