
@font-face {
    font-family: Monotes;
    src: url(../fonts/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: Monotes;
    src: url(../fonts/Kavoon-Regular.ttf);
}
@font-face {
    font-family: 'Kavoon';
    src: url(../fonts/Kavoon-Regular.ttf);
}
@font-face {
    font-family: 'wix';
    src: url(../fonts/WixMadeforTextRegular.otf);
}
@font-face {
    font-family: wix;
    src: url(../fonts/WixMadeforTextRegular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
