
@font-face {
    font-family: Monotes;
    src: url(../fonts/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: Monotes;
    src: url(../fonts/Kavoon-Regular.ttf);
}
@font-face {
    font-family: 'Kavoon';
    src: url(../fonts/Kavoon-Regular.ttf);
}
@font-face {
    font-family: 'Kavoon';
    src: url(../fonts/Kavoon-Regular.ttf);
}

