// Colors
$clr1: #ce2e6c;
$clr1: #ff385c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr-details-text: #222222;
$dark: #212121;
$light: #efefef;
$color: #b3e5fc;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 1080px;
$normal-breakpoint: 88.3vw;

// Breakpoints for stay edit
$mobile-edit-breakpoint: 460px;
$narrow-edit-breakpoint: 1080px;
$normal-edit-breakpoint: 70vw;

$details-max-width: 1100px;

// Margin
$m-top-reserve: 128px;
